<nav>
  <a href="/">Home</a>
  <form method="get" action="/books/search" class="search-form">
    <input name="q" type="search" placeholder="search"/>
    <input type="submit" style="display: none" />
  </form>
  <a href="/books/new">New Book</a>
</nav>
